
<div class="container-fluid", style="padding-top: 10%;"> 
            <section id="two" style="height:100vh;">   
                <div class="register">
                    <div class="row">
                            	
                                <div class="col-md-9 register-right">
                            
                                    <h1 class="register-heading">Tus resultados </h1>
                                    <div class="row register-form">
                                    
                                        <div class="col-md-6">
                                         <h1>Tu sueldo esperado : $<%= @sueldoEsperado.to_i  %> </h1> 
                                         <h1>Tu sueldo esperado SInCNu: $<%= @sueldoEsperadoSinCnu.to_i  %> </h1> 

                                         <h1>global: $<%= @aux  %> </h1>
                                            
                                           
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                       
                                    </div>  
                                </div> 
                               	<div class="col-md-3 register-left">
                            	    <img src="https://www.talosmarthome.com/wp-content/uploads/2019/11/	FAQ-icon-Talo.png" alt=""/>
                            	    <h3>Ahora ingresa tu situacion previsional</h3>
                            	</div>     
                    </div>
                </div>
            </section>
        </div>