<!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Inicio</a></li>
                    <li><a href="#one">Tus Datos</a></li>
                    <li><a href="#two">Situacion previsional</a></li>
                    <li><a href="#tres">Futuro</a></li>
                    <li><a href="#cuatro">Escenarios</a></li>
                    <li><a href="#cinco">Ayuda</a></li>
                </ul>
            </nav>
        </div>
    </section>